@font-face {
  font-family: "TTHakgyoansimUndongjangL";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
.header {
  width: 100vw;
}

.nav {
  max-width: 786px;
  height: 50px;
  margin: 0 auto;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "TTHakgyoansimUndongjangL";
  font-size: 20px;
  font-weight: 700;
}
.header_icon {
  position: absolute;
  top: 15px;
  right: 10px;
}
