.adList {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ad1 {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-color: rgb(227, 229, 236);

  padding: 20px;
}
.impInfo {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 350px;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  position: relative;

  background-color: white;
  border-radius: 10px;
}

.imgBox > img {
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-start-start-radius: 10px;
}
.info {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.category {
  font-size: 13px;
  color: grey;
}

.gymName {
  font-size: 15px;
  font-weight: 800;
}

.priceInfo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.ticket {
  font-size: 10px;
}
.daily {
  background-color: rgb(234, 238, 255);
  color: rgb(84, 103, 245);
  padding: 5px;
  border-radius: 5px;
}
.memberPrice {
  background-color: rgb(234, 238, 255);
  color: rgb(84, 103, 245);
  padding: 5px;
  border-radius: 5px;
}

.discount {
  color: rgb(255, 85, 85);
  font-size: 20px;
  font-weight: 600;
}
.disprice {
  font-weight: 600;
  font-size: 20px;
}
.text {
  font-size: 14px;
}
.regularprice {
  position: absolute;
  bottom: 25px;
  right: 0;
  font-size: 15px;
  color: grey;
}

.addition {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  bottom: 50px;
  gap: 10px;
  background-color: rgb(241, 243, 246);
  border-radius: 15px;
  border: 1px solid rgb(241, 243, 246);
}
.program {
  width: 100%;
  background-color: rgb(241, 243, 246);
}
.free {
  width: 100%;
  background-color: rgb(241, 243, 246);
}
