body {
  width: 100vw;
  height: 100vh;
}

.header {
  max-width: 600px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.backImg {
  background-image: url(weather.jpg);
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: 100%, 100%;
}

.header__nav {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.header__left {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resetIcon {
  font-size: 30px;
}

.header__left-text {
  font-size: 40px;
  color: purple;
  font-weight: 900;
}

.header__left-today {
  font-size: 30px;
  color: purple;
  font-weight: 700;
}

.header__right {
  gap: 20px;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
