.box {
  border: 1px solid black;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.xsmall {
  width: 100px;
  height: 100px;
}

.small {
  width: 200px;
  height: 200px;
}
.medium {
  width: 300px;
  height: 300px;
}
.large {
  width: 400px;
  height: 400px;
}
.xlarge {
  width: 500px;
  height: 500px;
}

.borderRadiusZero {
  border-radius: 0px;
}

.borderRadiusTen {
  border-radius: 10px;
}

.borderRadiusTwenty {
  border-radius: 20px;
}
